apiVersion: v1
kind: Service
metadata:
  name: {{ template "solr.fullname" . }}
  labels:
    app: {{ include "solr.name" . | quote }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
spec:
  ports:
  - port: {{ .Values.containerPort }}
    name: port
  clusterIP: None
  selector:
    app: {{ include "solr.name" . | quote }}
    release: {{ .Release.Name | quote }}
